# dependencies
node_modules/

# next
.next/
out/
/.importer-dist/

# production
build/
dist/

# env
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local system files
.DS_Store

# testing and coverage
coverage/
playwright-report/
test-results/

# vercel
.vercel/
supabase/.temp/
supabase/.branches/
.env.local
*.tsbuildinfo
.env
.env.*
